<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

    <div class="min-h-screen w-full bg-purple-600">
        <div class="flex flex-col flex-wrap">

            <p class="text-2xl text-pink-500 text-white font-sans font-semibold mb-6 mt-6 ml-6">Create your Account</p>
            <form method="POST" action="/users/register">
                <input class=" ml-6 rounded-xl p-4 w-72 text-base text-zinc-900 outline-none" type="text"
                    placeholder="fullname" name="fullname" />
                <input class=" ml-6 rounded-xl p-4 w-72 text-base text-zinc-900 outline-none" type="text"
                    placeholder="Email" name="email" />
                <input class=" ml-6 rounded-xl p-4 w-72 text-base text-zinc-900 outline-none" type="text"
                    placeholder="Password" name="password" />
                <input class="bg-white text-center text-black rounded-xl p-2 h-10 ml-4" value="Create Your Account"
                    type="submit" />
            </form>
        </div>
    </div>


</body>

</html>